/* =================================
  Colours
==================================== */

$color-primary: darken(#72CF3F, 15%);
$color-secondary: darken(#01a2a6, 15%);
$color-success: #9f6d90;
$color-warning: #f79d29;
$color-alert: #ef5764;
$light-gray: #f0f0f0;
$medium-gray: #727272;
$dark-gray: #343334;
$black: #1e1e1e;

/* =================================
  Breakpoints
==================================== */

$small: 544px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$header-height: 188px;
$section-gutter: 25px;

/* =================================
  Other Variables
==================================== */

$sidebar-width: 330px;


/* =================================
  Base Styles
==================================== */

body {
  background-color: $black;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

body.login {
  background-image: url(/wp-content/uploads/2016/08/green-wave.svg)!important;
  background-position: bottom!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

hr {
  margin-bottom: 0.5rem;
  @media (min-width: $medium) {
    margin-bottom: 1rem;
  }
  @media (min-width: $large) {
    margin-bottom: 1.5rem;
  }
}

/* =================================
  Typography
==================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 20px;
  color: $medium-gray;
}

a {
  color: $color-primary;
}


/* =================================
  Containers
==================================== */

.site-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  &.isOpen {
    transform: translate3d($sidebar-width, 0, 0);
  }
}

.container {
  //max-width: 1070px;
}

/* =================================
  Navigation Sidebar
==================================== */

.mou-sidebar-nav {
  height: 100%;
  min-height: 100vh;
  background-color: $black;
  position: absolute;
  width: $sidebar-width;
}

/* =================================
  Header
==================================== */

header {
  width: 100%;
  padding: 0.5rem;
  background-color: $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: white;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: white;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mou-menu-toggle {
  margin-right: 1rem;
  padding: 0.5rem;
}

.mou-logo {
  align-self: flex-start;
}

.mou-tagline {
  display: none;
  @media (min-width: $large) {
    display: inline-block;
  }
}

.flex-item-group {
  display: flex;
  align-items: center;
  & > a {
    padding: 0.5rem;
  }
}

.mou-menu-toggle,
.mou-logo,
.mou-tagline,
.flex-item-group a {
  font-weight: 400;
  margin-bottom: 0;
}

.mou-menu-toggle i,
.mou-search-toggle i {
  font-size: 1.6rem!important;
  line-height: inherit!important;
  @media (min-width: $medium) {
    font-size: 2rem!important;
  }
}

.mou-login-button,
.mou-register-button {
  display: none;
  @media (min-width: $medium) {
    display: inline-block;
  }
}

.sticky-header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  // display: flex;
  // flex-direction: column;
}

/* =================================
  Title Bar & Breadcrumbs
==================================== */

.title-band {
  padding: 2rem 0;
  background-color: $color-secondary;
  h1 {
    color: white;
    font-weight: 400;
    margin: 0;
  }
  & > div.container {
    padding: 0 25px;
  }
  .title-band-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.mou-breadcrumbs-wrapper {
  text-align: right;
  //text-align: left;
  @media (min-width: $medium) {
    text-align: right;
  }
}

.mou-breadcrumbs {
  color: white;
  text-decoration: none;
  font-weight: 200;
  @media (min-width: $large) {
    font-size: 1.6rem;
  }
  
  &:visited,
  &:hover,
  &:active {
    color: white;
    text-decoration: underline;
  }
}

/* =================================
  Main Content
==================================== */

.main-content {
  background-color: $light-gray;
  flex: 1;
  padding-top: calc(#{$header-height} + #{$section-gutter});
  & > div.container.mou-full-width {
    background-color: white;
    padding: 50px 25px;
    @media (min-width: $medium) {
      padding: 50px 50px;
    }
  }

  .section-left {
    background-color: white;
    padding: 50px 50px;
    @media (min-width: $medium) {
      padding: 50px 50px;
    }
  }

  .section-right,
  .section-feedback {
    background-color: white;
    padding: 25px 25px;
    @media (min-width: $large) {
      margin-left: 25px;
      margin-right: -25px;
    }
  }

  .section-right {
    margin-top: 25px;
    @media (min-width: $large) {
      margin-top: 0;
    }
  }

  .section-feedback {
    margin-top: 25px;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  h4 {
    margin-top: 1rem;
  }
  img {
    max-height: 150px;
    margin: auto;
    margin-top: 1rem;
    @media (min-width: $medium) {
      max-height: 200px;
    }
  }
}

.section-introduction {

}
.section-content {
  padding-top: 1rem;
}

/* =================================
  Cards
==================================== */


/* =================================
  Footer
==================================== */

footer {
  background-color: white;
  margin-top: $section-gutter;
}

/* =================================
  Modals
==================================== */


/* =================================
  Forms
==================================== */
form p span {
  padding-top: 2rem;
}

/* =================================
  Buttons
==================================== */
.button,
input[type="submit"].wpcf7-submit {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: $color-primary;
  color: white;
  border-radius: 8px;
  border: none;
  text-transform: none;
  width: 100%;
  max-width: 16rem;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  padding: 0.75em 1em;
  margin: 1rem 0 1rem 0;
  margin-bottom: 0 !important;

  &:visited {
    background-color: $color-primary;
  }
  &:hover,
  &:active {
    background-color: darken($color-primary, 5%);
  }
  &.bordered {
    border: 3px solid white;
  }
}


/* =================================
  Override GrassBlade Styles
==================================== */

.grassblade_lightbox {
  overflow: visible;
}

.grassblade_lightbox .grassblade_close {
  background: none;
  right: -35px;
  top: -35px;
  a#{&} {
    color: white;
  }
}

/* =================================
  Override LearnDash Styles
==================================== */

/* =================================
  Skeleton
==================================== */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 2px solid lighten($medium-gray, 20%);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 100px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid $color-primary;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
